@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


canvas.stars-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background: black; 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars {
  background:#000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index:-2;
}

.twinkling {
  background:transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index:-1;
  animation:move-twink-back 200s linear infinite;
}
.bg-stars {
  background: #0d1b2a url('https://grainy-gradients.vercel.app/noise.svg') repeat;
  animation: stars 60s linear infinite;
}

@keyframes stars {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}
